@font-face {
    font-family: "NunitoSans";
    src: url(NunitoSans.ttf) format("truetype");
}


body, html {
    /* margin: 0;
    padding: 0; */
    background: #E5E5E5;
    font-style: normal; 
    font-family: NunitoSans;
}

.navbar-brand {
    font-weight: bold;
    font-size: 29px;
    line-height: 40px;
    color: #6379F4;
}

.login-button, .signup-button {
    margin-left: 35px;
    box-sizing: border-box;
    box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
    border-radius: 12px;
    height: 48px;
    width: 120px;
    left: 0px;
    top: 0px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
}

.login-button {
    background: #FFFFFF;
    border: 2px solid #6379F4;
    color: #6379F4;
}

.signup-button {
    background: #6379F4;
    color: #FFFFFF;
    border: none;
}


/* .nav-link {
    margin-left: 30px;
} */

.navbar {
   background-color: #E5E5E5;
}

.jumbotron {
    background-color:#E5E5E5;
    background-size: cover;
    height: 640px;
}

.tagline {
    margin-top: 25%;
    margin-left: 5%;
    font-weight: 800;
    font-size: 60px;
    line-height: 93px;
    color: #3A3D42;
    margin-bottom: 5%;
}

.tagline-info {
    margin-left: 5%;
    font-weight: normal;
    font-size: 18px;
    line-height: 31px;
    color: #3A3D42;
}

.free-button {
    margin-left: 5%;
    margin-top: 5%;
    background: #6379F4;
    box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
    border-radius: 12px;
    height: 57px;
    width: 173px;
    border: none;
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;
}

.available {
    margin-left: 5%;
    margin-top: 5%;
    font-weight: normal;
    font-size: 18px;
    color: #3A3D42;
}

.available-image {
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-top: 5%;
}
.play-store {
    margin-right: 3%;
}

.container-page2 {
    height: 300px;
    background: rgba(71, 58, 209, 0.06);
}

.container-page2 {
    padding-top: 4%;
}

.container-page4 {
    background: rgba(71, 58, 209, 0.06);
}

.features {
    height: 127px;
width: 620px;
left: 670px;
top: 2663px;
border-radius: 25px;
background: #FFFFFF;
box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
border-radius: 25px;
margin-bottom: 5%;
padding-left: 5%;
padding-top: 5%;
}

.about-title {
    margin-top: 10%;
    margin-bottom: 2%;
    font-style: normal;
font-weight: 800;
font-size: 60px;
line-height: 93px;
color: #3A3D42;
}

.about-detail {
    margin-bottom: 5%;
    font-weight: normal;
font-size: 18px;
line-height: 31px;
/* or 172% */

text-align: center;

color: #3A3D42;
}

.about {
    font-weight: bold;
font-size: 24px;
line-height: 31px;
/* identical to box height, or 129% */


color: #3A3D42;
}

.about-info {
    font-weight: normal;
font-size: 18px;
line-height: 31px;
/* or 172% */

text-align: center;

color: rgba(58, 61, 66, 0.9);
}

.row2-page3 {
    margin-bottom: 20%;
}

.review {
    margin-top: 10%;
    margin-bottom: 2%;
    font-weight: 800;
font-size: 60px;
line-height: 93px;
/* identical to box height, or 155% */


/* Zwallet/Dark */

color: #3A3D42;
}

.review-detail {
    margin-bottom: 5%;
    font-weight: normal;
font-size: 18px;
line-height: 31px;
/* or 172% */

text-align: center;

color: #3A3D42;
}

.col1-page5 {
    margin-bottom: 5%;
    padding-top: 7%;
    padding-right: 5%;
    padding-left: 5%;
}

.privacy {
    /* height: 344px;
width: 366px; */
border-radius: 25px;
background: #FFFFFF;
box-shadow: 0px 4px 250px rgba(172, 172, 172, 0.15);
}

.feature-title {
    font-weight: bold;
font-size: 20px;
line-height: 31px;
margin-bottom: 1%;
/* identical to box height, or 155% */


color: #3A3D42;
}

.feature-detail {
    font-weight: normal;
font-size: 18px;
line-height: 31px;
/* identical to box height, or 172% */


color: rgba(58, 61, 66, 0.9);
}

.review1 {
    background: #FFFFFF;
box-shadow: 0px 5px 70px rgba(197, 197, 197, 0.15);
border-radius: 30px;
height: 496px;
width: 988px;

}

.reviewer-name {
    font-weight: bold;
font-size: 26px;
line-height: 40px;
/* identical to box height, or 154% */


/* Dark/100% */

color: #373C46;
}

.reviewer-job {
    font-weight: normal;
font-size: 20px;
line-height: 33px;
/* identical to box height, or 165% */

text-align: center;

color: #56585B;
}

.review-text {
    font-weight: normal;
font-size: 18px;
line-height: 33px;
/* or 183% */

text-align: center;

color: #676A71;
}

.footer-brand {
    font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 49px;
color: #FFFFFF;
}

.footer-tagline {
    font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 31px;
/* or 172% */


color: rgba(239, 239, 239, 0.75);

}

.footer {
    position: relative;
    background: #6379F4;;
    height: 300px;
    font-weight: normal;
    font-size: 16px;
    color: rgba(239, 239, 239, 0.9);
}

.footer-brand {
    position: absolute;
    top: 20%;
    left: 5%;
}

.footer-tagline {
    position: absolute;
    top: 35%;
    left: 5%;
}

.copyright{
    position: absolute;
    top: 80%;
    left: 5%;
}

.contact-number {
    position: absolute;
    top: 80%;
    right: 5%;
}

.contact-email {
    margin-left: 50px;

}

.line {
    position: absolute;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    /* border: 2px solid black; */
    top: 70%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 1200px) {
    .col1-page1 {
        display: none;
    }
    .col1-page4 {
        display: none;
    }
    .tagline {
        margin-top: 5%;
    }
    
}
@media screen and (max-width: 767px) {
    .features {
        height: 127px;
    width: 400px;
    }

}

@media screen and (max-width: 770px) {
    .container-page2 {
        height: 400px;
    }
    .copyright{
        position: absolute;
        top: 80%;
        left: 5%;
    }
    
    .contact-number {
        position: absolute;
        top: 90%;
        left: 5%;
    }
    
    .contact-email {
        margin-left: 50px;
    
    }

}

@media screen and (max-width: 575px) {
    .container-page2 {
        height: 800px;
    }

}

@media screen and (max-width: 445px) {
    .features {
        height: 140px;
    width: 300px;
    }

}
