@font-face {
    font-family: "NunitoSans";
    src: url(NunitoSans.ttf) format("truetype");
}

#full-screen-modal {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal-full {
    height: 612px;
    width: 20%;
    min-width: 403px;
    border-radius: 25px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 25px;
    position: absolute;
    right: 2%;
    top: 16%;
}

.home-pressed-info {
    display: flex;
    flex-direction: row;
}

.home-pressed1, .home-pressed2, .home-pressed3, .home-pressed4 {
    height: 92px;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    border-radius: 10px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    padding-top: 7%;

}

.time1 {
    position: absolute;
    top: 2%;
    margin-left: 5%;
    font-weight: normal;
    font-size: 16px;
    color: #7A7886;
}

.time2 {
    position: absolute;
    top: 45%;
    margin-left: 5%;
    font-weight: normal;
    font-size: 16px;
    color: #7A7886;
}

.home-pressed1 {
    position: absolute;
    top: 10%;
}

.home-pressed2 {
    position: absolute;
    top: 25%;
}

.home-pressed3 {
    position: absolute;
    top: 50%;
}

.home-pressed4 {
    position: absolute;
    top: 65%;
}

.name {
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #7A7A7A;
}

.amount {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #43484F;
}

.transfer-info {
    margin-left: 5%;
}



body, html {
    margin: 0;
    padding: 0;
    background: #E5E5E5;
    font-style: normal; 
    font-family: NunitoSans;
}

.header {
    height: 140px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-bottom: 20px;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}

.aside1 {
    margin-bottom: 19px;
    height: 678px;
    width: 270px;
    margin-right: 2%;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 25px;
}

.aside2 {
    height: 190px;
    width: 850px;
    margin-bottom: 20px;
    position: relative;
    background: #6379F4;
    border-radius: 20px;
}

.aside3 {
    width: 463px;
    height: 468px;
    margin-right: 20px;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 25px;
}

.aside4 {
    width: 367px;
    height: 468px;
    position: relative;   
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 25px;
}

.right-bottom {
    display: flex;
    flex-direction: row;
}

.container {
    display: flex;
    flex-direction: row;
}

.footer {
    position: relative;
    background: #6379F4;;
    height: 80px;
    font-weight: normal;
    font-size: 16px;
    color: rgba(239, 239, 239, 0.9);
}

.user {
    display: flex;
    flex-direction: row;
    float: left;
    position: absolute;
    right: 8%;
    top: 25%;
}

.user-profile {
    margin-left: 10px;
}

.bell {
    margin-left: 10px;
}

h1 {
    position: absolute;
    left: 10%;
    top: 25%;
    font-weight: bold;
    font-size: 29px;
    color: #6379F4;
}

.navbar {
    position: relative;
    width: 100%;
    padding: 0%;
    height:100%;
}

ul {
    position: absolute;
    top: 3%;
    font-weight: bold;
    font-size: 18px;
    list-style: none;
    width: 100%;
    height: 100%;
    padding: 0; 
    display: flex;
    flex-direction: column;
}

li {
    margin-bottom: 25%;
}

nav ul li a{
    width: 100%;
    padding-left: 10%;
}

.log-out {
    margin-top: 100%;
}

.a-dashboard {
    border-left: 5px solid #6379F4;
}

#dashboard, #transfer, #topup, #profile, #logout {
    margin-left: 10px;
}

#dashboard {
    font-weight: bold;
    font-size: 18px;
    color: #6379F4;
}

#transfer, #topup, #profile, #logout {
    font-weight: normal;
    font-size: 18px;
    color: rgba(58, 61, 66, 0.8);
}

.balance {
    font-weight: normal;
    font-size: 20px;
    color: #E0E0E0;
}

.balance-total {
    font-weight: bold;
    font-size: 40px;
    color: #FFFFFF;
}

.user-number {
    font-weight: 600;
    font-size: 14px;
    color: #DFDCDC;
}

.balance, .balance-total, .user-number {
    margin-top: 10px;
}

.balance-info {
    margin-left: 50px;
    position: absolute;
    height: 100%;
    padding-top: 18px;
}

.balance-button {
    position: absolute;
    right: 5%;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 35px;
}

.transfer-btn, .topup-btn {
    width: 162px;
    height: 57px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #FFFFFF;
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;
}

.graphic {
    position: relative;
    height: 100%;
    width: 100%;
}


.main-graphic img {
    position: absolute;
    margin-top: 0%;
    width: 80%;
    height: 70%;
    margin-left: 10%;
    margin-right: 10%;
    top: 25%;
    height: auto;
}

.income img {
   position: absolute;
   top: 6%;
   left: 10%;
   width: 25%;
}

.outcome img {
   position: absolute;
   top: 6%;
   left: 65%;
   width: 25%;
}


.history-title {
    position: absolute;
    font-weight: bold;
    font-size: 18px;
    color: #3A3D42;
    left:20px;
    top: 20px;
}

#see-all {
    position: absolute;
    font-weight: 600;
    font-size: 14px;
    color: #6379F4;
    text-align: right;
    right:31px;
    top: 25px;
}

.trans-history {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 15%;
}

.trans-history img {
    width: 100%;
    height: 100%;
}

.copyright{
    position: absolute;
    top: 35%;
    left: 5%;
}

.contact-number {
    position: absolute;
    top: 35%;
    right: 5%;
}

.contact-email {
    margin-left: 50px;

}


@media screen and (max-width: 1199px) {
    .container {
        flex-wrap: wrap;
    }
    
    .aside1 {
        flex-grow: 1;
        margin-left: 0;
        margin-right: 0;
        height: 50px;
        margin-bottom: 10px;
    }

    .right {
        width: 100%;
        margin-bottom: 10px;
    }

    .aside2 {
        width: 100%;
        margin-bottom: 10px;
        height: 130px;
    }

    .log-out {
        margin-top:0%;
    }

    ul {
        display: flex;
        flex-direction: row;        
    }
    .a-dashboard {
        border-left: 0;
        border-bottom: 5px solid #6379F4;
    }

    li {
        width:20%;
        display: flex;
        flex-direction: column;
        margin-top: 0;
        margin-bottom: 0;
    }

    a{
        padding-top: 6%;
        padding-left: 5%;
        height: 100%;
    
    }

    .balance-info {
        padding-top: 8px;
    }

    .aside3 {
        width: 700px;
        height: 550px;
    }
    .aside4 {
        height: 550px;
    }
    .header {
        margin-bottom: 10px;
    }

    .balance, .balance-total, .user-number {
        margin-top: 0;
    }
    .transfer-btn, .topup-btn {
        width: 150px;
        height: 40px;
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.2);
        border: 1px solid #FFFFFF;
        font-size: 18px;
    }

    .balance-button {
        padding-top: 20px;
    }  
}


@media screen and (max-width: 991px) {
    .aside3 {
        height: 400px;
    }
    .aside4 {
        height: 400px;
    }
    .history-title {
        font-size: 12px;
    }
    #see-all {
        font-size: 10px;
    }
    .balance-info {
        padding-top: 2%;
    }
    .transfer-btn, .topup-btn {
        width: 130px;
        height: 40px;
        font-size: 18px;
    }
    
    #dashboard, #transfer, #topup, #profile, #logout {
        display: none;
    } 
    nav ul li a{
        padding-left: 30%;  
         
    }

    ul {
        top: 5%;  
    }

    .balance {
        font-size: 16px;    
    }
    
    .balance-total {
        font-size: 30px;
    }
    
    .user-number {
        font-size: 12px;
    }
    
}
    
@media screen and (max-width: 767px) {
    .right-bottom {
        flex-wrap: wrap;
    }
    .aside3 {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .aside4 {
        width: 100%;
        height: 600px;
    }
    .history-title {
        font-size: 20px;
    }
    #see-all {
        font-size: 18px;
    }

    .trans-history {
        top: 10%;
    }
    .main-graphic img {
        width: 70%;
        top: 20%;
        margin-left: 15%;
    }
    
    .income img {
       top: 6%;
       left: 15%;
       width: 20%;
    }
    
    .outcome img {
       top: 6%;
       left: 65%;
       width: 20%;
    }
    .copyright{
        position: absolute;
        top: 10%;
        left: 5%;
    }
    
    .contact-number {
        position: absolute;
        top: 40%;
        left: 5%;
    }
    
    .contact-email {
        margin-left: 50px;
    
    }
}

@media screen and (max-width: 450px) {
    .contact-email {
        margin-left: 0;
    }

    .user-profile {
        display: none;
    }

    .transfer-btn, .topup-btn {
        width: 110px; 
        font-size: 14px;  
    }
    .balance-info {
        margin-left: 20px;

    }
    .aside3 {
        height: 350px;
    }
    .aside4 {
        width: 100%;
        height: 500px;
    }
    .modal-full {
        width: 15%;
        min-width: 280px;
    }
    

}

@media screen and (max-width: 360px) {
    .aside3 {
        height: 280px;
    }
    .aside4 {
        width: 100%;
        height: 400px;
    }

}
    

